/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

/*
 Styling
*/


.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 5px;
  border: 1px solid #069;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
}

.accordion label {
  color: #069;
  cursor: pointer;
  font-weight: normal;
  padding: 8px;
  background: #fff;
  font-weight: 600;
  font-size: 1em;
  border: 1px solid #069;
}

.accordion label:hover,
.accordion label:focus {
  background: #069;
  color: #eee;
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054"; 
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  font-weight: 800;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}

.accordion p{
  font-size: 0.9em;
  margin-bottom: 5px;
}


.bg-blue1{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(216,232,250,1) 100%);
}
.bg-red1{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(250,216,218,1) 100%);
}
.bg-green1{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(240,250,216,1) 100%);
}
.bg-yellow1{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(249,250,216,1) 100%);
}
.bg-purple{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(235,216,250,1) 100%);
}
.bg-blue2{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(216,221,250,1) 100%);
}
.bg-orange1{
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 36%, rgba(250,239,216,1) 100%);
}


@media (max-width: 554px) {
/*  .accordion p{
  line-height: 0.9;
  font-size: 0.8em;
  }
  .accordion label{
  line-height: 1;
  font-size: 0.8em;
  }
  .tm-section-wrap p{
  line-height: 1.2;
  font-size: 0.8em;
  }
  .tm-section-wrap h2{
  line-height: 1.5;
  font-size: 0.9em;
  }
*/
.tm-brand-box h1 {
  font-size: 0.9rem;
}
}